@page "/Accounts/Hamza"



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    body {
        background-color: white;
        padding: 20px;
    }

    .detail-box {
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        box-shadow: 0 0 70px rgba(0, 0, 0, 0.2); /* Added box shadow */
    }

    .button-container {
        text-align: center;
        margin-top: 20%;
    }

    .payment-status {
        color: #2CBC74; /* Payment successful text color */
        text-align: center;
        font-size: 24px;
    }

    .label {
        color: #888E9F; /* Label color */
    }

    .btn-primary {
        background-color: #0088CC;
        width: 20%; /* Primary button color */
    }

    .btn-secondary {
        background-color: #0088CC;
        width: 20%; /* Secondary button color */
    }

    .circle {
        width: 50px;
        height: 50px;
        /* Set your desired circle background color */
        border: 2px solid #2CBC74;
        text-align: center;
        border-radius: 50%; /* Make it a circle */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2CBC74;
        margin: 0% 0% 0% 50%; /* Set the icon color */
    }

    .fa-check {
        font-size: 28px; /* Adjust the size of the icon */
    }

    .displaycs {
        display: contents
    }

    .container {
        width: 35%;
    }
</style>
@page "/Accounts/Form"

<MudContainer>
    <div class="container">
        <div class="row justify-content-center">
            <MudPaper Class="detail-box" Margin="Margin.All(5)">
                

                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
                    <a href="#" class="link-p" style="overflow: hidden; position: relative;">
                        <img src="" alt="">
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="#">Penn State College T-Shirt</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                        <MudContainer Class="button-container" >
                            <MudButton Class="btn btn-primary" Color="Color.Primary">$528.96</MudButton>
                            <MudButton Class="btn btn-secondary" Color="Color.Secondary">Buy</MudButton>
                        </MudContainer>
                        <p></p>
                    </div>
                </div>

               
            </MudPaper>
        </div>
    </div>
</MudContainer>

@code {

}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@code {

}

