@page "/Home"
@using Sample.BlazorUI.Services.Implementation
@inject LoaderService LoaderService
<PageTitle>Index</PageTitle>

<MudButton OnClick="LoadData">Fetch Data</MudButton>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private async Task LoadData()
    {
        LoaderService.Show(); // Show loader
        await Task.Delay(3000); // Simulate API call
        LoaderService.Hide(); // Hide loader
    }
}
