@inherits LayoutComponentBase



<MudSnackbarProvider />

<MudContainer Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25"  Width="100%" MaxWidth="2000px">
           
            @Body
        </MudPaper>
      
    </div>
</MudContainer>

