@page "/SendEmail"

<h1>Send Email</h1>
<button @onclick="SendEmails">Send Email</button>

@code {
    private void SendEmails()
    {
        string toEmail = "jutthamza432@gmail.com"; // Replace with the recipient's email address
        string userName = "Muhammad hamza"; // Replace with the user's name
        string title = "Welcome"; // Replace with the email subject
        string message = "THis is for test Hamza"; // Replace with the email message

        EmailService.SendEmail(toEmail, userName, title, message);
    }
}
